service: rev-entity-enrichment-service

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-north-1
  stage: ${opt:stage, 'test'}
  memorySize: 512
  timeout: 30
  environment:
    OPEN_CORPORATES_URL: ${env:OPEN_CORPORATES_URL}
    OPEN_CORPORATES_KEY: ${env:OPEN_CORPORATES_KEY}
    NODE_ENV: production

functions:
  api:
    handler: lambda.handler
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors: true
      - http:
          path: /
          method: ANY
          cors: true

plugins:
  - serverless-offline